// Styles
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: .5em 0;
}

ul.menu li:first-child {
  padding-left: 0;
}

.top-bar {
  background-color: #131313;
  ul {
    background-color: #131313;
    li {
      &.menu-text {
        color: #fff;
      }
      a {
        color: #65a9d6;
        &:hover {
          color: #72c1f5;
        }
      }
    }
  }
}

/* Table Styles */
table.tablesorter {
  width: 100%;
  margin-bottom: 35px;
  th.tablesorter-header {
    cursor: pointer;
    .fa-sort-asc, .fa-sort-desc {
      display: none;
    }
  }
  th.tablesorter-headerDesc {
    .fa-sort-desc {
      display: inline-block;
    }
    .fa-sort, .fa-sort-asc {
      display: none;
    }
  }
  th.tablesorter-headerAsc {
    .fa-sort-asc {
      display: inline-block;
    }
    .fa-sort, .fa-sort-desc {
      display: none;
    }
  }
  td.retired-status i, td.active-status i {
    color: rgba(165, 59, 42, 0.17);
    font-size: 12px;
    margin-right: 10px;
  }
  td.active-status i {
    color: rgba(42, 165, 116, 0.17);
  }
}

/* What's New Page */
h5.commit-item i { display: none; }
h5.commit-item:hover i { display: inline-block; }
